body {
  font-family: "Merriweather", serif;
}
.header {
  text-align: center;
  background-image: url(../images/Banner\ Image.png);
  background-repeat: no-repeat;
  background-position: center;
}

.banner {
  padding-top: 115px;
  height: 500px;
  margin: 50px 150px 0px 150px;
}
header .banner-happy {
  font-size: 25px;
  font-weight: 400;
  color: #ffff;
}
header .banner-party {
  /* width: 600px; */
  font-size: 60px;
  font-weight: 900;
  line-height: 80px;
  color: #ffff;
}
.hero {
  color: red;
  text-align: center;
}

main .offer {
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 10px;
}
.holiday {
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
}
.categories {
  color: black;
  font-size: 45px;
  font-weight: 700;
  font-style: bold;
  margin-top: auto;
}
.new-year-photo {
  width: 700px;
  height: 450px;
}
.welcome {
  height: 600px;
  background-image: url(../images/Vectorrr.png);
  background-repeat: no-repeat;
  background-position: center;
  filter: brightness(90%);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.banner-greeting {
  max-width: 500px;
  color: #fff;
}
.greeting {
  font-size: 55px;
  font-weight: 900;
  line-height: 80px;
  letter-spacing: 5px;
}
.greeting-speech {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}
.join:hover {
  background-color: goldenrod;
  animation-duration: 1.5s;
  border-radius: 5px;
}
.group-70 {
  filter: brightness(120%);
}
