body {
  font-family: "Merriweather", serif;
  margin: 0;
  padding: 0;
}
.header {
  text-align: center;
  background-image: url(../images/Banner\ Image.png);
  background-repeat: no-repeat;
  background-position: center;
}

.banner {
  padding-top: 115px;
  height: 500px;
  margin: 50px 150px 0px 150px;
}
header .banner-happy {
  font-size: 25px;
  font-weight: 400;
  color: #ffff;
}
header .banner-party {
  font-size: 60px;
  font-weight: 900;
  line-height: 80px;
  color: #ffff;
}
.hero {
  color: red;
  text-align: center;
}

main .offer {
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 10px;
}
.holiday {
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
}
.categories {
  color: black;
  font-size: 45px;
  font-weight: 700;
  font-style: bold;
  margin-top: auto;
}
.new-year-photo {
  width: 700px;
  height: 450px;
}
.welcome {
  height: 600px;
  background-image: url(../images/Vectorrr.png);
  background-repeat: no-repeat;
  background-position: center;
  filter: brightness(90%);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.banner-greeting {
  max-width: 500px;
  color: #fff;
}
.greeting {
  font-size: 55px;
  font-weight: 900;
  line-height: 80px;
  letter-spacing: 5px;
}
.greeting-speech {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}

.join:hover {
  background-color: goldenrod;
  animation-duration: 1.5s;
  border-radius: 5px;
  color: #fff;
}

.group-70 {
  filter: brightness(120%);
}
.details {
  font-size: 20px;
  font-weight: 600;

  background-color: #ffeaea;
  width: 600px;
  height: 200px;
  text-align: center;
  margin: 30px 40px 0px 500px;
  border-radius: 5px;
  padding-top: 50px;
  padding-bottom: 50px;
}
strong {
  color: #ff0000;
}

/* coming section */
.offer-banner {
  /* width: 100%; */
  height: 700px;
  background-color: #ffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 100px 100px;
}
.best-offer {
  color: red;
  font-size: 20px;
  font-weight: 500;
  line-height: 10px;
}
.coming {
  color: black;
  font-size: 40px;
  font-weight: 900;
  line-height: 10px;
}

.image-ellipse {
  width: 300px;
  border: 15px solid red;
  padding: 23px 100px 15px 34px;
  margin: 20px;
  border-radius: 50%;
}
/* section end */

.functional-offer {
  width: 100%;
  height: 800px;
  background-color: #ffff;
  align-items: center;
  text-align: center;
}
/* .group-44 {
  background-image: url(../images/Rectangle\ 2.png);
  background-repeat: no-repeat;
  margin-bottom: 40px;
  padding-bottom: 50px;
}  */

.functional {
  color: rgb(67, 62, 62);
  font-size: 15px;
  font-weight: 700;
  line-height: 10px;
}
.holidays-off {
  color: rgb(185, 14, 14);
  font-size: 50px;
  font-weight: 900;
  line-height: 10px;
}
span {
  color: #070211;
}
.text {
  color: rgb(124, 122, 122);
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
}

.join-btn {
  background-color: #ff0000;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
  width: 150px;
  height: 40px;
}
.join-btn:hover {
  background-color: #00ff44;
  border-radius: 10px;
  animation-duration: 1.3s;
  cursor: grabbing;
}
.information {
  background-color: #fef2f2;
  /* width: 100%; */
  height: 400px;
  text-align: center;
  margin: 130px 120px 40px 130px;
  border-radius: 5px;
  padding: 70px 300px;
}
.latter-img {
  width: 120px;
  height: 120px;
}
.subscribe-latter {
  font-size: 45px;
  font-weight: 900;
  color: black;
}
.text-sms {
  font-size: 15px;
  font-weight: 400;
  color: black;
  line-height: 25px;
}
.product {
  width: 85%;
  background-color: #ffffff;
  box-shadow: 2px 2px 30px rgba(167, 157, 254, 0.2);
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-radius: 10px;
  line-height: 30px;
}
.gifts {
  color: red;
  font-size: 20px;
  font-weight: 500;
  line-height: 10px;
}
.portfolio {
  color: black;
  font-size: 40px;
  font-weight: 900;
  line-height: 10px;
}

.innovative {
  color: rgba(229, 110, 110, 0.755);
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
}
.product-img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.product-box:hover {
  background-color: #ffff;
  box-shadow: 2px 2px 30px;
  gap: 20px;
  border-radius: 12px;
  animation-duration: 0.5s;
}

/* footer */
.NotificationInput input {
  width: 500px;
  height: 60px;
  border: none;
  outline: none;
  background-color: #ffff;
  justify-content: center;
  border-radius: 50px 0px 0px 50px;
  padding-left: 50px;
  font-size: 20px;
}
.NotificationInput a {
  text-decoration: none;
}
.subscribe-btn {
  width: 195px;
  height: 40px;
  background-color: red;
  color: white;
  align-items: center;
  text-transform: uppercase;
  border-radius: 0px 50px 50px 0px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  padding: 20px 20px 20px 21px;
}
.location {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 300px;
}

.reserve {
  display: flex;
  justify-content: space-around;
  gap: 300px;
  padding-top: 30px;
}
.footer {
  color: #ffff;
  margin-top: 90px;
  background-color: #070211;
  padding: 80px 0px 60px 0px;
  border-radius: 2px;
}

hr {
  border: 2px solid rgba(245, 240, 240, 0.096);
  width: 80%;
}
